@model int

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/knockout-3.3.0.debug.js"></script>

    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/respond.js"></script>

    <script src="../../Scripts/modernizr-2.6.2.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Content/Add.css"></script>

    <script src="../../Scripts/ViewModels/NewQuestionareFormVM.js"></script>
    <script src="../../Scripts/ViewModels/QuestionVM.js"></script>

    <script src="../../Scripts/ViewModels/QuestionOptionVM.js"></script>
    <script src="../../Scripts/ViewModels/StatisticVM.js"></script>
    <script src="../../Scripts/ViewModels/StatisticQuestionVM.js"></script>
</head>
<body>
    <div class="container body-content">
        <div id="questionare_content">
            <h4>Statystyka odpowiedzi dla ankiety - <span data-bind="text: name"></span></h4>
            <h5>W badaniu wzięło udział - <span data-bind="text: numberOfRespondends"></span> ankietowanych</h5>
            <ul class="questions_list list-unstyled" data-bind="foreach: questions">
                <li>
                    <div class="row">
                        <div class="row">
                            <div class="lp">
                                <label data-bind="text: lp" style="float: left; font-size: 16px; margin-right: 25px;"></label>
                            </div>
                            <div class="col-md-11">
                                <input type="text" class="form-control" placeholder="Treść pytania" data-bind="value: question" />
                            </div>
                        </div>
                        <div class="answers" data-bind="foreach: answers">
                            <div class="answer" data-bind="visible: $parent.answerVisible">
                                <input type="checkbox" data-bind="visible: $parent.manyAnswer" />
                                <input type="radio" data-bind="visible: $parent.singleAnswer, attr: { name: lp}" />
                                <input type="text" data-bind="value: optionText" />
                                <span data-bind="text: statistic"></span> Ankietowanych
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>

<script>
    var StatisticVM;

    $(document).ready(function () {

        StatisticVM = new statisticVM(@Model);

        ko.applyBindings(StatisticVM, document.getElementById("#questionare_content"));
    });
</script>

<style>
    .container {
        margin-left: 50px !important;
    }
</style>

